---
layout: default

seo_description: A Rasta in the digital jungle can help with knowledge and support. 

share: rasta
---

<div class="home">

  <h1 class="page-heading center">Welcome to irie ItalYard</h1>
  <h3>Once you discover Rasta livety, you can't go back to all the wickedness ... Ital is Vital Rasta.</h3> 
  <section>
    <h2>My food is my medicine ...</h2>
    {% include list_food.html %}
  </section> 
  <section>
    <h2>Community News</h2>
    <div class="article full">
      {% include list_news.html %}
    </div>
  </section>


  <h3>Or browse the following pages: <i class="fa fa-sitemap fa-lg"></i></h3>
  <div class="article full">
    {% include navigation_list.html %}
  </div>
  
</div>
