---
layout: default

seo_description: A Rasta in the digital jungle can help with knowledge and support. 

share: rasta
---

<div class="home">

  <h1 class="page-heading center">Welcomme to the IrieYard</h1>
  <p>Welcome to my tech blog bredren and sistren, kings and queens of the digital age. No matter which philosophy structures your life, no matter where you are born or how much you have, one thing is always true: <strong>knowledge</strong> empowers you to overcome struggles. If you are part of the curious beings among us, you may find something interesting here.</p>
  
  <h3>Once you discover Rasta livety, you can't go to all the wickedness ... Ital is Vital Rasta.</h3>  
  <section>
    <h2>Community News</h2>
    <div class="article full">
      {% include list_news.html %}
    </div>
  </section>


  <h3>Or browse the following pages: <i class="fa fa-sitemap fa-lg"></i></h3>
  <div class="article full">
    {% include navigation_list.html %}
  </div>
  
</div>
